.banner {
  background-image: url("../../images/cover.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

.banner > h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 2.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 101vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(0 85%, 100% 61%, 100% 100%, 0% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

/* .projectCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.projectCard > img {
  width: 14vmax;
  padding-bottom: 5px;
}

.projectCard > div {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.projectCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.headings {
  display: flex;
  margin: 5px;
}

.projectCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 5px;
}

.projectCard > span {
  margin: 5px;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.projectCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
} */

@media screen and (max-width: 600px) {
  .banner {
    background-image: url("../../images/cover.jfif");
    background-repeat: no-repeat;
    background-position: center;
    height: 125vmin;
  }

  .homeHeading {
    margin-top: 70px;
  }

  .banner::after {
    height: 140vmin;
  }

  .container {
    display: flex;
  }

  /* .projectCard > p {
    font-size: 1.7vmax;
  }

  .projectCard > .headings > h4 {
    padding-bottom: 4px;
  }

  .projectCard > .headings {
    margin: 5px;
    gap: 6px;
  }

  .projectCard > div {
    margin: 0vmax;
    display: block;
  }

  .projectCard > span {
    font-size: 1.5vmax;
  }

  .projectCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  } */
}